body{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201208/pngtree-gradient-simple-clean-background-image_505242.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 5fr;
    grid-template-areas: 
    'a a a a'
    'b c d e'
    'f f f f'
    'i i i i';
}
.syp{
    padding:20px;
    display:contents;
}
img{
    width:96%;/*앞으로는 %를 이용하는 것이 좋다*/
    height:96%;
}
h1{
    font-size:50px;
    font: weight 100px;
}
.firstart{
    font-size:10px;
    text-align:right;
    margin-right:10px;
}
a{
    text-decoration: none;
    color:rgb(187, 22, 55);
}
a:hover{
    text-decoration:underline;
}
a:visited{
    color:purple;
}
a:active{
    color:rgb(69, 182, 38);
}
.discussion:visited{
    color:rgb(180, 47, 67);
}
fieldset{
    width:98%;/*크기를 화면의 100% 사용한다*/
    margin:0;
    

    
}

.header{
    display: flex;
    justify-content: space-between; /* 요소들을 양쪽 끝으로 배치, flex랑 같이 써준다*/
    padding: 10px 20px;
    align-items: center; /* 수직 정렬: 세로 방향을 중앙으로 맞춰준다 flex랑 같이 써준다*/
    grid-area:a;
    background-color:rgba(222, 208, 155, 0.599);

}
.login{
    font-size:25px;
    font-weight:30;
    margin: 0;

}

.logo{
    margin: 0;
    color:rgba(160, 113, 46, 0.61)
}

.signin{
    margin-left:auto;/*남은 여백 중 가장 오른쪽으로 갑니다*/
    margin-right:20px;
    font-size:25px;
    font-weight:30;    
}
.syp1{
    grid-area:b;
}
.syp2{
    grid-area:c;
}
.syp3{
    grid-area:d;
}
.syp4{
    grid-area:e;
}
.grid{
    grid-area:f;
    margin-left:20px;
}
.content{
    display:contents;/*중간 요소들이 영향을 미치지 않게 하고 싶을 때*/
}
footer{
    grid-area:i;
    text-align:center;
    font-size:10px;
    color:rgb(193, 129, 69);/*폰트 색은 color로 바꿈*/
}
i{
    font-size:20px;
    padding:10px;
}